@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");

.container {
  height: 90px;
  display: flex;
  align-items: center;
  font-size: 14px;

  .logo {
    font-family: "Sansita Swashed", cursive;
    font-size: 32px;
    width: 250px;
    margin-top: -10px;
  }
  .searchContainer {
    display: flex;
    align-items: center;
    color: grey;
    flex-grow: 1;

    .searchIcon {
      margin-right: 10px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }

    .searchInput {
      border: 0;
      display: flex;
      width: 100%;
      background-color: transparent;
      font-size: 14px;
      flex-wrap: wrap;
    }
  }
  .rightContent {
    display: flex;
    font-weight: bold;
    margin-left: auto;

    .cartContainer {
      display: flex;
      align-items: center;

      .cartIcon {
        margin-right: 8px;
      }
    }

    .profileContainer {
      display: flex;
      align-items: center;
      margin-left: 70px;

      .profilePhoto {
        width: 32px;
        height: 32px;
        border-radius: 50px;
        margin-right: 14px;
      }

      .arrowIcon {
        margin-left: 8px;
        margin-top: 1px;
      }
    }
  }
}
