.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  .title {
    font-size: 28px;
    margin: 0;
  }

  .content {
    display: flex;
    margin-top: 20px;

    h4 {
      margin-bottom: 30px;
    }
    .accountContainer {
      width: 45%;
      margin-right: auto;
    }
    .passwordContainer {
      width: 45%;
    }
    hr {
      color: #f6f6f655;
    }
    .inputContainer {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      margin-bottom: 20px;
      gap: 10px;
    }
  }
}
