.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;

  button {
    cursor: pointer;
  }

  .content {
    border: 1px solid #eee;
    border-radius: 16px;
    padding: 70px;
    max-width: 500px;

    .switchContainer {
      background-color: #f6f6f6;
      border: 2px solid #eee;
      border-radius: 16px;
      margin-bottom: 15px;
      display: flex;

      .switchButton {
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        border: none;
        border-radius: 16px;
        background-color: transparent;
        width: 100%;

        span {
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}
