@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  .logo {
    font-family: "Sansita Swashed", cursive;
    font-size: 32px;
    margin-bottom: 50px;
  }

  button {
    cursor: pointer;
  }

  .content {
    border: 1px solid #eee;
    border-radius: 16px;
    padding: 70px;
    max-width: 500px;
    height: 100%;

    .switchContainer {
      background-color: #f6f6f6;
      border: 2px solid #eee;
      border-radius: 16px;
      margin-bottom: 15px;
      display: flex;

      .switchButton {
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        border: none;
        border-radius: 16px;
        background-color: transparent;
        width: 100%;

        span {
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}
