.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  min-height: 400px;
  max-width: 300px;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  direction: initial;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 2px solid #eee;
  transition: box-shadow 300ms ease-in-out;
  -webkit-transition: box-shadow 300ms ease-in-out;
  -moz-transition: box-shadow 300ms ease-in-out;
  -ms-transition: box-shadow 300ms ease-in-out;
  -o-transition: box-shadow 300ms ease-in-out;

  .textContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: auto;
    justify-content: center;
    word-break: break-word;
    flex-grow: 1;

    .brandText {
      font-size: 16px;
      margin-bottom: 10px;
    }

    h4 {
      margin-top: 0px;
      z-index: 1;
      text-shadow: 2px 2px #00000022;
      font-size: 14px;
      text-align: center;
      line-height: 21px;
    }

    span {
      text-align: center;
      font-size: 14px;
      font-weight: 500;
    }

    .priceContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      .discount {
        background-color: red;
        border-radius: 4px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        margin-right: 10px;
      }
      .prices {
        display: flex;
        flex-direction: column;
        .priceText {
          text-decoration: line-through;
          color: grey;
          font-weight: bold;
          text-align: left;
        }
        .salePriceText {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

    .imageContainer {
      transform: scale(1.1);
    }
  }

  .imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
    flex-shrink: 0;
    height: 320px;

    img {
      object-fit: contain;
    }
  }

  .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .favContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border: 0;
    z-index: 10;

    svg {
      z-index: -1;
    }
  }
}
