@import "../../styles/breakpoints.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    min-height: 100vh;

    .main {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      margin-top: 30px;

      @include md {
        flex-direction: row;
        margin-top: 50px;
      }
    }
  }
}
