.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    max-width: 1200px;
    height: 100%;
    width: 100%;

    .main {
      display: flex;
      margin-top: 50px;
    }
  }
}
