.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    min-height: 100vh;

    .main {
      display: flex;
      margin-top: 50px;
      overflow: hidden;
    }
  }
}
