.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  .title {
    font-size: 28px;
    margin: 0;
  }

  .content {
    display: flex;
    margin-top: 40px;

    .addresses {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .addAddress {
      width: 260px;
      border: 1px solid #eee;
      border-radius: 16px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-weight: bold;
      line-height: 30px;
      background-color: #fff;
      font-size: 18px;
      cursor: pointer;
      padding: 20px;
      min-height: 200px;
      margin-bottom: 20px;
      p {
        font-size: 28px;
        margin: 0;
      }
    }
  }
}
