.verticalCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 175px;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  direction: initial;
  overflow: hidden;
  position: relative;
  max-width: 240px;
  flex-wrap: wrap;
  transition: box-shadow 300ms ease-in-out;
  -webkit-transition: box-shadow 300ms ease-in-out;
  -moz-transition: box-shadow 300ms ease-in-out;
  -ms-transition: box-shadow 300ms ease-in-out;
  -o-transition: box-shadow 300ms ease-in-out;

  .textContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: auto;
    justify-content: center;
    word-break: break-word;
    flex-grow: 1;

    h4 {
      margin-top: 0px;
      z-index: 1;
      text-shadow: 2px 2px #00000022;
      font-size: 14px;
      text-align: center;
      line-height: 21px;
    }

    span {
      text-align: center;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

    .imageContainer {
      transform: scale(1.1);
    }
  }

  .imageContainer {
    position: relative;
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;

    .image {
      position: absolute;
      width: 130%;
    }
  }

  .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
