.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  .title {
    font-size: 28px;
    margin: 0;
  }

  .content {
    display: flex;
    margin-top: 40px;

    .orders {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
