@import "../../styles/breakpoints.scss";

.container {
  width: 100%;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }

  img {
    width: 100px;
    min-width: 100px;
    margin-right: 20px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include md {
      margin-right: 50px;
    }

    h4 {
      margin-top: 10;

      @include md {
        margin-top: 0;
      }
    }
  }

  .price {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;

    @include md {
      margin-left: auto;
      font-size: 18px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;

    @include md {
      margin-left: 40px;
    }

    button {
      background-color: #f6f6f6;
      border: 2px solid #eee;
      padding: 6px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;
      border-radius: 6px;
    }
    span {
      padding: 6px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
